<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello</h1>
    <form method="POST">
        {% csrf_token %}
      Value 1  <input type="text" name="n1" />
      <label>Select Operation</label>
      <select name="Operation" class="form-control">
        <option value="+"> <b>+</b></option>
        <option value="-"> <b>-</b></option>
        <option value="*"> <b>*</b></option>
        <option value="/"><b>/</b> </option>

      </select>
      Value 2  <input type="text" name="n2" />
      <button type="submit">Calculator</button>
      <input type="text" value="{{c}}"/>


    </form>
</body>
</html>