<!-- {% extends 'base.html' %}
{% block content %} -->
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/CSS/style.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    </br>
    Enter No : <input id="getinput" type="number" />
    <button type="submit" id="Generate">Generate</button>
    </br> </br>
    <table border="1">

        <tr>
            <th id="tm">Tabel-Multiplication</th>
            <th id="Result">Result</th>
        </tr>
        <tbody id="tabelbody"></tbody>
    </table>

    <script src="/static/Js/tabel.js"></script>
</body>

</html>
<!-- {% endblock %} -->
